.container
  .page-header
    %h2
      %span.glyphicon.glyphicon-user
      Clientes
      %small.lead Esta es la lista de todos sus clientes
    %table#clients.table.table-striped
      .row
        .col-xs-6.col-md-2
          = link_to 'Agregar Cliente', new_client_path, class: "btn btn-success btn-block"
      %br
      %thead
        %tr
          %th Nombre
          %th Direccion
          %th CP
          %th Telefono
          %th RFC
          %th Acciones
      %tbody
        = render clients
