.container
  .page-header
    .row
      .col-xs-6.col-md-11
        %h3
          %span.glyphicon.glyphicon-user
          Clientes
      .col-xs-6.col-md-1
        %h4
          = link_to new_client_path, class: "a addResource" do
            %span.glyphicon.glyphicon-plus
            %span.glyphicon.glyphicon-user
  %br
  %table.table.dataTable.table-hover
    %thead
      %tr
        %th Id
        %th Nombre
        %th Telefono
        %th Correo
        %th Direccion
        %th CP
        %th RFC
        %th Acciones
    %tbody
      = render clients
