.container
  .page-header
    .row
      .col-xs-6.col-md-9
        %h3
          %span.glyphicon.glyphicon-cog
          Panel de Control
          %br
          %br
          %small.head
            Este es su panel de control. Desde aqui observe la ultima actividad en su taller.
  .row
    .col-md-6
      %h4
        Clientes
        = link_to clients_path do
          %span.glyphicon.glyphicon-arrow-right
      %table.table.table-stripped
        %thead
          %th Id
          %th Nombre
          %th Telefono
          %th Correo
        %tbody
          = render clients
    .col-md-6
      %h4
        Trabajos
        = link_to jobs_path do
          %span.glyphicon.glyphicon-arrow-right
      %table.table
        %thead
          %th Referencia
          %th Estado
          %th Fecha Ingreso
          %th Actualizacion
        %tbody
          = render jobs
