.container
  .page-header
    %h2
      %span.glyphicon.glyphicon-search
      = worker.name
      %small.lead= worker.worker_type
  .row
    .col-md-4
      %h4 Detalles
      %br
      %br
      .dl.dl-horizontal
        %dt Algo
        %dd Algo Mas
    .col-md-4
      %h4 Gastos de este empleado
      %br
      %br
      %table.table.table-hover
        %thead
          %th Id
          %th Descripcion
          %th Costo
          %th Trabajo
        %tbody
          = render expenses
