/*
 *= require dataTables/jquery.dataTables.bootstrap3
*/

@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import 'bourbon';
@import 'neat';
@import 'bootstrap';
@import 'bootstrap-theme';

body {
  padding-top: 30px;
}

a.danger {
  color: #C0392B;
}

h4 {
  padding-top: 15px;
}
///////////////////////////////////////////////////////////////////////////////
